.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-details-header {
    text-align: left;
    margin-bottom: 20px;
}

.book-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.book-subtitle {
    font-size: 1.2rem;
    color: #666;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.book-image {
    flex: 2;
}

.book-image img {
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

.book-details-body {
    flex: 1;
    margin-right: 20px;
}

.book-info {
    margin-bottom: 30px;
}

.book-info-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.book-info-row span {
    font-weight: bold;
}

.book-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.discounted-price {
    color: #e74c3c;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #777;
}

.discount {
    color: #e74c3c;
    font-weight: bold;
}

.book-rating {
    display: flex;
    margin-bottom: 20px;
}

.book-rating i {
    color: #ffd700;
}

.book-actions {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-secondary {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #27ae60;
}

.book-description {
    margin-top: 230px;
    width: 80%;
}

.book-description h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.book-description p {
    line-height: 1.6;
    color: #333;
}

.related-books {
    margin-top: 40px;
}

.related-books h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.related-books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.related-book-item {
    flex: 1 0 21%; /* Adjust this value to control the width of the related book items */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.related-book-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.related-book-item h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
}
