.bookdetails {
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 900px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.detail{
    font-size: 17px;
    display:inline-flex;
    color:teal;
  
}
.text{
    margin-bottom: 10px;
}

.card-img-top{
    width: 80px;
}

.author-books {
    margin-top: 30px;
}

.author-books h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.author-books ul {
    list-style: none;
    padding: 0;
}

.author-books ul li {
    margin-bottom: 10px;
}

.author-books button {
    margin-top: 20px;
    display: none; /* Initially hide the button */
}

@media (min-width: 900px) {
    .author-books button {
        display: block; /* Show the button when page width is more than 900px */
    }
}

/* .detail-about{
    width: 100px;
} */

@media (max-width: 900px) {
    .bookdetails {
        flex-wrap: wrap;
    }
}