/* carousel */

.Newbooks {
    background-color: rgba(142, 144, 144 , 0.1);
}

.carousel {
    margin-top: 50px;
    overflow: hidden;
    cursor: grab;
    margin-bottom: 50px;
    z-index: 1050;
    background-color: white !important;
    padding: 20px 30px 20px 30px;
    
    
}

.inner-carousel {
    display: flex;
    border-radius: 15px;
     
}

.item {
    width: 140px !important;
    height: 270px !important;
    background-color: whitesmoke;
    margin: 3px !important;
    padding: 1px;
    border: 0.5px solid #999;
    
}

.fa-shopping-cart{
    background-color: white;
}

 

.item img {
    
    width: 120px  ;
    height: 155px !important;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0.9px 1px 1px ;
    margin: 2px 5px !important;
    box-shadow: 4px 4px 2px #ccc;
    -webkit-box-shadow: 4px 4px 2px #ccc;
    -moz-box-shadow: 4px 4px 2px #ccc;
}

.item .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    
}

.item .content h4 {
    font-weight: 550;
    font-size: 11px;
    font-family: sans-serif;
    text-align: start;
    width: 100%;
    height: 15px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(38, 2, 82);
    transition: 0.1s color ease-in;
}

.item .content h4:hover {
    color: rgb(207, 1, 1);
}

.item .item-price {
    font-size: 12px !important;
}

.item .price-icon{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    
}

 

.item .item-price span {
    color: #966892;
    font-size: 100%;
}
 
.item:hover{
    i{
        scale: 1.17;
        color:   darkred !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .item {
        max-height: 23rem;
        max-width: 10rem;
        margin: 8px;
    }
    .item .content {
        height: 30px;
        margin-top:30px;
    }
    .item img {
        max-height: 14rem;
        max-width: 14rem;
        pointer-events: none;
    }
    .item .item-price {
        font-size: 14px;
    }
     
}

 


/* end of newbooks */